.header {
  position: fixed;
  top: 0;
  justify-content: space-around;
  align-items: center;
  height: 6rem;
  line-height: 6rem;
  border-radius: 0;
  background-color: antiquewhite;
}
.cart-button {
  justify-content: center;
  align-items: center;
  width: 18rem;
  height: 4rem;
  line-height: 3rem;
  background-color: #f0c040;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}
.bump,
.bump {
  /* color: #2c0d00;s */
  background-color: #ab2f18;
  animation: bump 300ms ease-out;
}
.bump .cart-num,
.bump .cart-num {
  color: #ab2f18;
}
@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
.cart-button i {
  width: 2rem;
  height: 2rem;
  background-image: url("https://static.thenounproject.com/attribution/4175624-600.png");
  background-size: contain;
}
.cart-num {
  width: 2.2rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 1rem;
  margin: 1rem;
  text-align: center;
  border-radius: 50%;
  color: #f0c040;
  background-color: #fff;
}
