.header {
  position: fixed;
  top: 0;
  justify-content: space-around;
  align-items: center;
  height: 6rem;
  line-height: 6rem;
  border-radius: 0;
  background-color: antiquewhite;
}
.cart-button {
  justify-content: center;
  align-items: center;
  width: 18rem;
  height: 4rem;
  line-height: 3rem;
  background-color: #f0c040;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}
.cart-button i {
  width: 2rem;
  height: 2rem;
  background-image: url("https://static.thenounproject.com/attribution/4175624-600.png");
  background-size: contain;
}
.cart-num {
  width: 2.2rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 1rem;
  margin: 1rem;
  text-align: center;
  border-radius: 50%;
  color: #f0c040;
  background-color: #fff;
}
